body {
  margin: 0;
}
h1 {
  font-size: 40px;
  font-family: "Pushster", cursive;
}
.special-text {
  color: rgb(194, 194, 25);
}
h3 {
  font-family: "Pushster", cursive;
}
p {
  font-family: "Poppins", sans-serif;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 15%;
}
.half-width img {
  width: 80%;
  border-radius: 50%;
}
.link-button {
  text-decoration: none; /*remove the link sign. */
  background-image: linear-gradient(
    yellow,
    green
  ); /*background color green to yellow*/
  padding: 10px 40px;
  font-family: "Pushster", cursive;
  color: white;
  border-radius: 5px;
}
.top-banner {
  background-image: url(Photos/Others/top-banner.png);
  background-repeat: no-repeat;
}
